/* 517 */
/*start main rulez*/
*{
	box-sizing: border-box;
}
body {

}

.container {
	width: 890px;
	margin: auto}

	p {
		color: #A1A1A1;
		line-height: 23px
	}

	h2 {
		color: #4a5559;
	}
	applet {
		background-color: #2acf67;
		border-radius: 3px;
		color: #fff;
		padding: 5px;
	}
	/*end main rulez*/


/*start Hedear*/
.Hedear .background {
    
    background-size: cover;
    height: 467px; 
    overflow: hidden;



     
}
.Hedear .background .container span{
	display: block;
	
}

.Hedear .background .container .one {
	text-align: center;
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 439px;
    margin: auto;
    margin-top: 178px;
    font-size: 40px;
}
    

	

	
.Hedear .background .container .two {
	text-align: center;
    color: #fff;
    border: 2px solid white;
    width: 120px;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
}

.Hedear .background .container .two:hover{
	opacity: 0.5;
	box-shadow: 1px 1px 1px salmon;
}

.Hedear .navbar {
	background-color: #252f31;
	color: #fff;
	overflow: hidden}

.Hedear .navbar  h2{float: left;text-transform: uppercase;color: #fff}

.Hedear .navbar  h2 span {color: #327d9d}

.Hedear .navbar ul {
	list-style: none;
	padding-left: 0;
	float: right;
	overflow: hidden}

	.Hedear .navbar ul li {

    float: left;
    padding: 10px   }

    .Hedear .navbar ul .active {
    	color: #e7bfa5;
    }





    .Hedear .navbar ul li a {
    	color: #fff;
    	text-decoration: none;


    }

    .Hedear .navbar ul li a:Hover {
	color: #e7bfa5;
	cursor: pointer;

}

/*start Hedear*/

/*strart 2 end frame*/
.frame2 {
	overflow: hidden;
	margin-bottom: 30px;
	margin-top: 30px
}

.frame2 .container .feat {
	float: left;
	width: 33.33333%;
	} 

.frame2 .container .feat h2 {text-transform: uppercase;}

/*end 2 end frame*/

/*start about me*/

.about_me {

	overflow: hidden;
	background-color: #f2f2f2
}
.about_me .container .image {
	float: left;
	width: 40%;
	
	
}

.about_me .container .image img{
	height: 425px


}
.about_me .container .info {
	float: left;
	width: 60%
}

.about_me .container .info .hobbies {
	margin-top: 50px
 }

  .about_me .container .info .hobbies h2 {
  	display: inline;
  	font-size: 20px;


  }
 .about_me .container .info .hobbies p{
 	color: #A1A1A1;

 }

.about_me .container .info .hobbies > div {
	color: #4a5559;
	font-size: 20px;
	float: left;
	width: 50%;
	min-height: 80px;
}

.about_me .container .info .hobbies > div span {
	width: 38px;
	height: 38px;
	margin-right:5px;
}

.about_me .container .info .hobbies > div span i {
	cursor: pointer;
	width: 28px;
	height: 28px;
	color: #327d9d;
	
}

/*start skills*/


  .skills {
  	 overflow: hidden;
  }

  .skills .container .my_skills {
   	float: left;
   	width: 50%
   }


 .skills .container .my_skills h2 {
 	text-transform: uppercase;
 	
 }

  .skills .container .my_skills   p {
  	margin-bottom: 70px;
  	color: #a1a1a1;
  }

   .skills .container .my_skills button{
   	background: none;
 	text-transform: uppercase;
 	border: 1px solid green;
 	color: green;
 	padding: 10px;
 	cursor: pointer;
 	
 }

   .skills .container .progress {
   	float: left;
   	margin-top: 5px;
   	width: 45%
   }

   .skills .container .progress h2 {

   }

   .skills .container .progress div {
   	width: 440px;
    height: 20px;
   	background-color: #f2f2f2
   	
   }

   .skills .container .progress div span {
     
    height: 20px;
    background-color: #e7bfa5;
    color: #fff;
    text-align: right;
    display: block;
    padding-right: 10px;
    line-height: 20px;
    font-size: 12px;
    font-weight: bolder;

   	
   }



/*end skills*/

/*start resume*/
.resume {
	background-color: #f2f2f2;
	margin-top: 40px;
	padding: 40px;
	text-align: center;
}
.resume .container h2{
	font-family: Cambria;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.resume .container p{
	
	text-align: center;
	color: #a1a1a1;
	
}

.resume .container button {
	background: none;
	border: 1px solid green;
 	color: green;
 	padding: 10px;
 	cursor: pointer;
 }

/*end resume*/ 

/*start education*/
.education {
	overflow: hidden;

}


.education .container .my_education {
	float: left;
	

}

.education .container .my_cv {
	float: right;
	
}

.education .container .my_cv .Deploma {
	padding-bottom: 5px
}



/*start education*/

/*start expeiance*/
.experiance {
	overflow: hidden;

}

.experiance .container {
	overflow: hidden;
}

.experiance .container .my_experiance{
	float: left;
	
}

.experiance .container .my_lead {
	float: right;
	
}

/*start expeiance*/

/*start comontaire*/
.comontaire {
	background-color: #f2f2f2;
	margin-top: 40px;
	padding: 40px;
	text-align: center;
}
.comontaire .container h2{
	font-family: Cambria;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.comontaire .container p{
	
	text-align: center;
	color: #a1a1a1;
	
}

.comontaire .container ul {
	
	list-style: none;
	margin-right: 34px;
}

.comontaire .container ul li {
	width: 15px;
	height: 15px;
	border: 1px solid green ;
	margin: 4px;
	display: inline-block;
	border-radius: 50%;


}

.comontaire .container ul .active {
	background-color: green;
}

.comontaire .container ul li:hover {
	background-color: green;
	cursor: pointer;
}



/*end comontaire*/ 

/*start portofolio*/
.portofolio {
	overflow: hidden;
	text-align: center;
	
}

.portofolio .container h2 {
	text-transform: uppercase;
}
.portofolio .container p {
	margin-bottom: 60px;

}

.portofolio .container div {
	float: left;
	width: 33.3333%;
	height: 33.333%

}

.portofolio .container div  img {
	width: 295px;
    height: 207px; 
    cursor: pointer;
}


/*start portofolio*/


/*start contect*/
.contect {
	overflow: hidden;
	background-color: #252f31;
}

.contect .container .contect_me {
	float: left;
	width: 40%;


}

.contect .container .contect_me h2 {
	color: #fff
}

.contect .container .contect_me span {
	color: #fff;
}

.contect .container .contect-info {
	float: right;
	width: 40%;
	margin-top: 30px;
	overflow: hidden;
}

.contect .container .contect-info span {
	display: block;
	margin-top: 40px;
	margin-bottom: 5px;
	color: #fff;
}
.contect .container .contect-info input {
	background-color: #4b5557 ;
	border: none;
	color: #fff;
}

.contect .container .contect-info textarea {
	height: 200px;
	margin-bottom: 10px;
	background-color: #4b5557;
	color: #fff;
	border: 0;

}

.contect .container .contect-info .buttom {
	
	color: #fff;
	font-size: 20px;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}



/*end contect*/

/*start buttom*/

.buttom {
	text-align: center;
	background-color: #191e22;
	padding-top: 10px;
	padding-bottom: 10px;
}

.buttom .container ul {
	list-style: none;
	

}

.buttom .container ul li {
	display: inline-block;
	margin:5px;
	border-radius: 50%;
	padding: 0;
	

}

.buttom .container ul li .active{
	color: #fff;
}

	

.buttom .container ul li i:hover{
	color: #fff;
	cursor: pointer;
	
	
}




/*start buttom*/